
body{
    background-image:linear-gradient(black 80%,white 20%);
}
h2{
    color:blue;
}
img{
    height:50%;
    width:50% ;
}
p{
    color: white;
    font-style:italic;
    font-size: 100%;
}
ul{
    color: red;
    font-style:italic;
    font-size: 100%;
}
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: yellow; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}